---
import Base from "./Base.astro";
let currentUrl = Astro.url.pathname;
---

<Base>
  <span class="opacity-30 mb-[-1rem] cursor-pointer" onclick="window.location.href='/'">~/docs{currentUrl}</span>
  <slot />
</Base>
